[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/slightlymore/snipmate.vim.git
[submodule "bundle/phplint"]
	path = bundle/phplint
	url = git://github.com/Jonty/phplint.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/doctorjs"]
	path = bundle/doctorjs
	url = https://github.com/mozilla/doctorjs.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
